$black: #000;
	$black-95: rgba($black,0.95);
	$black-90: rgba($black,0.9);
	$black-85: rgba($black,0.85);
	$black-80: rgba($black,0.8);
	$black-75: rgba($black,0.75);
	$black-70: rgba($black,0.7);
	$black-65: rgba($black,0.65);
	$black-60: rgba($black,0.6);
	$black-55: rgba($black,0.55);
	$black-50: rgba($black,0.5);
	$black-45: rgba($black,0.45);
	$black-40: rgba($black,0.4);
	$black-35: rgba($black,0.35);
	$black-30: rgba($black,0.3);
	$black-25: rgba($black,0.25);
	$black-20: rgba($black,0.2);
	$black-15: rgba($black,0.15);
	$black-10: rgba($black,0.1);
	$black-05: rgba($black,0.5);

$black-light: #555;
$black-medium: #343434;
$darkgray: #222222;

//$off-white: #eff3f2;
$off-white: #eff3f2;
$white: #fff;
	$white-95: rgba($white,0.95);
	$white-90: rgba($white,0.9);
	$white-85: rgba($white,0.85);
	$white-80: rgba($white,0.8);
	$white-75: rgba($white,0.75);
	$white-70: rgba($white,0.7);
	$white-65: rgba($white,0.65);
	$white-60: rgba($white,0.6);
	$white-55: rgba($white,0.55);
	$white-50: rgba($white,0.5);
	$white-45: rgba($white,0.45);
	$white-40: rgba($white,0.4);
	$white-35: rgba($white,0.35);
	$white-30: rgba($white,0.3);
	$white-25: rgba($white,0.25);
	$white-20: rgba($white,0.2);
	$white-15: rgba($white,0.15);
	$white-10: rgba($white,0.1);
	$white-05: rgba($white,0.5);

$cyan: #11cfbf;