.offCanvasPanel {
	//display: none;
	position: fixed;
	left: 0;
	top: -100%;
	height: 100%;
	background: rgba(239,243,242,.96);
	z-index: 2;
	visibility: hidden;
	width: 100%;
	padding-top: 5.7%;
	text-align: center;
	@include easing;
}
.offcanvas-visible {
	//display: block;
	@include easing;
	top: 0px !important;
	visibility: visible !important;
}

.panel-container {
	max-width: 900px;
	padding-top: 25px;
	margin: 0 auto;
}

.login-form-wrapper {
	max-width: 480px !important;
	padding-top: 10px !important;
	text-align: center;
	.signup {
		display: inline-block;
		@include serif;
		@include easing;
	font-style: italic;
	font-size: 13px;
	color: rgb(153, 153, 153);
	text-decoration: none;
	padding-top: 10px;
	}
	.signup:hover {
		color: $cyan;
		@include easing;
	}
}
.login-option {
	padding-top: 7px;
	padding-left: 12px;
	padding-right: 12px;
	@include serif;
	font-style: italic;
	font-size: 13px;
	color: rgb(153, 153, 153);
	label {
		color: rgb(153, 153, 153);
	}

}
.login-option a {
	color: rgb(153, 153, 153);
	text-decoration: none;
	@include serif;
	font-style: italic;
	font-size: 13px
}
.login-button {
	padding: 12px 55px;
border-radius: 30px;
font-size: 18px;
margin-top: 35px;
}
.panel-container p {
	max-width: 900px;
	text-align: left !important;
	margin-top: 30px;
	margin-bottom: 15px;
	@include sans-serif;
	font-size: 18px;
	color: #999;
	line-height: 1.3;
}

#form--wrapper {
	padding-top: 20px;
	max-width: 900px;
	margin: 0 auto;
}