.offCanvasPanel {
	position: fixed;
	left: 0;
	top: -100%;
	height: 100%;
	background: rgba(239,243,242,.96);
	z-index: 2;
	visibility: hidden;
	width: 100%;
	padding-top: 5.7%;
	text-align: center;
	@include easing;
}
.offcanvas-visible {
	@include easing;
	top: 0px !important;
	visibility: visible !important;
}



.panel-container {
	max-width: 900px;
	margin: 0 auto;
}
.panel-container p {
	max-width: 900px;
	text-align: left !important;
	margin-top: 30px;
	margin-bottom: 15px;
	@include sans-serif;
	font-size: 18px;
	color: #999;
	line-height: 1.3;
}

#form--wrapper {
	padding-top: 20px;
	max-width: 900px;
	margin: 0 auto;
}